@page "/"
@inject WorkoutApi Api
@inject NavigationManager Nav
@inject IJSRuntime JS

<h1 class="page-title">Dashboard</h1>
<p class="page-subtitle">@Greeting</p>
<section class="dashboard-section">

    @if (IsLoading)
    {
        <div class="grid">
            <div class="card skeleton-line"></div>
            <div class="card skeleton-line"></div>
        </div>
    }
    else if (HasError)
    {
        <div class="error-state">
            <h3>Something went wrong</h3>
            <p>We couldn’t load today’s workouts.</p>

            <button class="finish-button" @onclick="Retry">
                Retry
            </button>
        </div>
    }
    else if (!TodayPlans.Any() && !TodayTemplates.Any() && AllCompleted)
    {
        <div class="empty-state celebration">
            <h2>You did it.</h2>
            <p>You completed all your workouts.</p>
            <p class="muted">100 days. No excuses. Respect. 💪</p>
        </div>
    }
    else if (!TodayPlans.Any() && !TodayTemplates.Any() && !TodayHabits.Any())
    {
        <div class="empty-state">
            <p>You’re all done for today!</p>
            <img src="ic_celebrate.png"/>
        </div>
    }
    else
    {
        
        @if (TodayPlans.Any())
        {
            <h3 class="section-title">Still to do today</h3>

            <div class="grid">
                 @foreach (var template in TodayTemplates)
                  {
                        <div class="card card-today-template"
                             @onclick="() => StartTemplate(template.TemplateId)">
                            <div class="card-header">
                                <h3>@template.Name</h3>
                            </div>

                            <p class="plan-cta">Start workout →</p>
                        </div>
                    }
                @foreach (var workout in TodayPlans)
                {
                    <div class="card card-today"
                         @onclick="() => Go(workout.Id)">
                        <div class="card-header">
                            <h3>@workout.Name</h3>
                        </div>

                        <p class="card-meta">
                            Day @(workout.CompletedDays + 1) of @workout.TotalDays
                        </p>

                        <p class="plan-cta">Start workout →</p>
                    </div>
                }
                  
            </div>
        }

      
    }
    


</section>

<section> 

    @if (TodayHabits.Any())
    {
        <h3 class="section-title">Habits for today</h3>

        <div class="habits-grid">
            @foreach (var habit in TodayHabits)
            {
                <HabitCard Habit="habit"
                           OnAddValue="HandleHabitAdd" />
            }
        </div>
    }


</section>

<h3 class="section-title">Plan your workouts</h3>

<section class="dashboard-section">

        <div class="days-grid-wrapper">

    <div class="days-grid">

        @foreach (var day in WeekDays)
        {
            var isToday = (int)DateTime.Today.DayOfWeek == day.Day;

            <div class="day-col @(isToday ? "is-today" : "")"
                 data-day="@day.Name">
                <span class="dayofweekitem">@day.Name</span>

                @foreach (var item in DayOfWeeks.Where(d => d.DayOfWeek == day.Day))
                {
                    <div class="card-days"
                         @key="item.Id"
                         data-schedule-id="@item.Id">
                        @GetTemplateName(item.templateId)
                    </div>

                }
            </div>
        }
    </div>
    </div>
</section>

<section class="dashboard-section danger">
    <h3 class="section-title">Daily Discipline</h3>

    <div class="card discipline-card">
        <h3>@DisciplineTitle</h3>
        <p class="muted">@DisciplineDescription</p>

        @if (DisciplineCompleted)
        {
            <div class="discipline-status completed">
                <span class="status-icon">✓</span>
                <span class="status-text">Completed today</span>
            </div>
        }
        else
        {
            <button class="finish-button outline"
                    @onclick="CompleteDiscipline">
                I did it
            </button>
        }
    </div>
</section>

@code {
    TodayDashboardDto? Today;

    bool IsLoading = true;
    bool HasError = false;
    bool AllCompleted = false;

    bool DisciplineCompleted;

    List<HabitTodayDto> TodayHabits = new();

    List<PlanOverviewDto> TodayPlans =>
        Today?.Plans ?? new();

    List<TodayTemplateDto> TodayTemplates =>
        Today?.Templates ?? new();

    List<WorkoutTemplatesDto> allTemplates = new();
    List<WeekPlanningDto> DayOfWeeks = new();

    readonly (int Day, string Name)[] WeekDays =
{
    (1, "Monday"),
    (2, "Tuesday"),
    (3, "Wednesday"),
    (4, "Thursday"),
    (5, "Friday"),
    (6, "Saturday"),
    (0, "Sunday")
};

    string Greeting
    {
        get
        {
            var hour = DateTime.Now.Hour;

            if (hour < 11)
                return "Good morning ☀️ Your focus for today";

            if (hour < 18)
                return "Good afternoon 👋 Your focus for today";

            return "Good evening 🌙 Your focus for today";
        }
    }


    string DisciplineTitle =>
        (DateTime.Today.DayOfYear % 8) switch
        {
            0 => "Train",
            1 => "Quads of Stone",
            2 => "Hang or Fall",
            3 => "Still in the Fire",
            4 => "Earn the Exit",
            5 => "No Dopamine Until Earned",
            6 => "Cold Exposure",
            7 => "Read Without Escape",
            _ => "Discipline"
        };

    string DisciplineDescription =>
        (DateTime.Today.DayOfYear % 8) switch
        {
            0 => "Do all Daily workout plans one after the other.",
            1 => "Wall sit 1 minute total. Every stand-up adds 20 squats.",
            2 => "Dead hang 2 minutes total. Drop = 20 push-ups. No straps.",
            3 => "Deep squat hold 1 minutes. Heels down. No movement. No distractions.",
            4 => "2 rounds: 10 burpees, 10 push-ups, 10 squats. No rest.",
            5 => "First 4 hours of the day: no phone scrolling, no sugar, no entertainment.",
            6 => "Cold shower 3 minutes. No warm finish.",
            7 => "Read 10 pages of a difficult book. No music. No phone.",
            _ => "Do something hard."
        };

    DotNetObjectReference<Dashboard>? _dotNetRef;



    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _dotNetRef = DotNetObjectReference.Create(this);

            await Load();
            await InvokeAsync(StateHasChanged);
        }

        if (!IsLoading && !HasError)
        {
            await JS.InvokeVoidAsync("initCardDrag", _dotNetRef);
        }
    }



    public void Dispose()
    {
        _dotNetRef?.Dispose();
    }

    [JSInvokable]
    public async Task UpdateWeekPlanningJs(int id, int dayOfWeek)
    {
        await Api.UpdateWeekPlanning(id, dayOfWeek);
        await Load();
        await InvokeAsync(StateHasChanged);
    }


  



    protected override async Task OnInitializedAsync()
    {
        var key = $"discipline-{DateTime.Today:yyyy-MM-dd}";
        DisciplineCompleted =
            await JS.InvokeAsync<string>("localStorage.getItem", key) == "done";
    }


    async Task Load()
    {
        try
        {
            IsLoading = true;
            HasError = false;

            Today = await Api.GetTodayWorkouts();
            DayOfWeeks = await Api.GetDayOfWeekPlanning();
            allTemplates = await Api.GetTemplates();

            TodayHabits = await Api.GetHabitsAsync();


            var plans = await Api.GetPlansOverview();
            AllCompleted = plans.Any() &&
                           plans.All(p => p.CompletedDays >= p.TotalDays);
        }
        catch
        {
            HasError = true;
            Today = null;
            AllCompleted = false;
        }
        finally
        {
            IsLoading = false;
        }
    }

    async Task Retry() => await Load();

    string GetTemplateName(int templateId)
    {
        return allTemplates?
            .FirstOrDefault(t => t.Id == templateId)?.Name
            ?? $"Template {templateId}";
    }


    void Go(int planId)
    {
        var completedDays =
            TodayPlans.First(p => p.Id == planId).CompletedDays;

        Nav.NavigateTo(
            $"/plan/{planId}/day/{completedDays + 1}?completed={completedDays}");
    }

    async Task StartTemplate(int templateId)
    {
        Nav.NavigateTo($"/Templates/{templateId}");

    }

    async Task CompleteDiscipline()
    {
        DisciplineCompleted = true;

        var key = $"discipline-{DateTime.Today:yyyy-MM-dd}";
        await JS.InvokeVoidAsync("localStorage.setItem", key, "done");
    }

 

    async Task HandleHabitAdd((int HabitId, int Amount) data)
    {
        await Api.UpdateHabitValue(data.HabitId, data.Amount);
        TodayHabits = await Api.GetHabitsAsync();
        StateHasChanged();
    }


}
